.cache
.emacs.desktop
.emacs.desktop.lock
.last-package-update-day
.org-id-locations
auto-save-list
backup
bookmarks
custom.el
eln-cache
elpa
eshell
org-roam.db
projectile-bookmarks.eld
projectile.cache
projects
recentf
transient
*~
